$colors: (
  a: #00acc1,
  b: #7e6551,
  c: #8896ab,
  d: #938581,
  e: #c5d5e4,
);

$colors-contrast: (
  a: #fff,
  b: #fff,
  c: #fff,
  d: #fff,
  e: #fff,
);

$colors-alert: (
  positive: #468847,
  neutral: #3a87ad,
  cautious: #c09853,
  negative: #b94a48,
);

$colors-gray: (
  a: #f5f5f5,
  b: #e0e0e0,
  c: #9e9e9e,
);

@function setting-color($color, $type: default) {
  @if $type == contrast {
    @return map-get($colors-contrast, $color);
  }
  @if $type == alert {
    @return map-get($colors-alert, $color);
  }
  @if $type == gray {
    @return map-get($colors-gray, $color);
  }
  @return map-get($colors, $color);
}

$font-sizes: (
  xs: 0.64em,
  s: 0.8em,
  m: 1em,
  l: 1.25em,
  xl: 1.563em,
  xxl: 1.953em,
  xxxl: 2.441em,
);

@function setting-font-size($size, $rem: false) {
  $font-size: map-get($font-sizes, $size);
  @if $rem { $font-size: ($font-size / 1em) * 1rem; }
  @return $font-size;
}
