{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint-config-modularis",
  "plugins": [
    "compat",
    "html"
  ],
  "rules": {
    "compat/compat": 2
  },
  "settings": {
    "polyfills": ["serviceworkers"]
  }
}
