@import '~@avalanche/setting-colors';
@import '../settings/generic';

html {
  line-height: 1.6;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.15;
  font-weight: 500;
  font-size: setting-font-size(l);
}

b,
strong {
  font-weight: 600;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul,
ol,
dl {
  padding-left: 2.5em;
}

li + li {
  margin-top: setting-spacing(xs);
}
